<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/swiper.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/swiper.jquery.js"></script>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>

<div class="box">
            <h2 style="font-size:36px;position:relative;top:-30px;text-shadow:2px 2px 3px rgba(255,255,255,0.6); color:#333;">WORK APP</h2>
            <a href="/" class="welcome">
                    进入应用
            </a>

    <!--<div class="swiper-pagination"></div>-->
    <!--<div class="swiper-scrollbar"></div>-->
</div>

<!-- Initialize Swiper -->
<script>
    /*var swiper = new Swiper('.swiper-container',{
        pagination : '.swiper-pagination',
        scrollbar:'.swiper-scrollbar',
        effect : 'flip',
        onTransitionEnd:function(){

        }
    });*/
</script>
</body>
</html>