/*animate start*/
.view-animate {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    width:100%;

}

.view-animate.ng-enter, .view-animate.ng-leave {
    display:block;
    /*top:0px;*/
    opacity:1;
}

.view-animate.ng-enter {
    /*top:100%;*/
    opacity:0;
}
.view-animate.ng-enter.ng-enter-active {
    /*top:0px;*/
    opacity:1;

}
.view-animate.ng-leave.ng-leave-active {
    opacity:0;
    /*top:-100%;*/
}

/*animate end*/
