
<link rel="stylesheet" href="/css/form.css">
<div class="content" ng-controller="addUser">

    <h4>添加用户</h4>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3"  class="col-sm-2 control-label">用户名:</label>
            <div class="col-sm-10">
                <input type="text" name="uname" ng-model="uname" class="form-control" id="inputEmail3">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密码: </label>
            <div class="col-sm-10">
                <input type="password" name="upass" class="form-control" id="inputPassword3"  ng-model="upass">
            </div>
        </div>
        <div class="form-group">
            <label for="tel" class="col-sm-2 control-label">号码: </label>
            <div class="col-sm-10">
                <input type="tel" name="tel" class="form-control" id="tel"  ng-model="tel">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">权限:</label>
            <div class="col-sm-10">
                <label class="radio-inline" ng-repeat="item in role">
                    <input type="radio" ng-click="item.fun()" ng-value="item.num" id="inlineRadio1"  name="uroot">{{item.role}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" ng-click="addUserInfo()" class="btn btn-default">提交</button>
            </div>
        </div>
    </form>

    <!--<form >
        <div class="line">
            <span></span><input type="text" name="uname">
        </div>
        <div class="line">
            <span></span><input type="text" name="upass">
        </div>
        <div class="line">
            <span></span>
            <input type="radio" name="uroot" value="0">
            :<input type="radio" name="uroot" value="1">
            :<input type="radio" name="uroot" value="2">
        </div>

        <div class="line subbox">
            <input type="submit" value="提交">
        </div>
    </form>-->
</div>