<style>
    h4{
        text-align:center;
        color:#555;
        margin:10px 0;
    }
    .content{
        background:rgba(255,255,255,0.8);
        overflow:auto;
        padding:40px 20px;
        width:1000px;
        margin:0 auto;
        border-radius: 10px;
    }
</style>
<div class="box" ng-controller="showCon">

    <h4>管理内容</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th>id</th>
        <th>标题</th>
        <th>内容</th>
        <th>分类</th>
        <th>图片</th>
        <th>管理</th>
    </tr>
    </thead>

    <tbody>

    <tr ng-repeat="item in data">
        <td>{{item.sid}}</td>
        <td>{{item.title}}</td>
        <td>{{item.info.slice(0,100)}}</td>
        <td>{{item.catname}}</td>
        <td><img src="{{item.img}}" alt="新闻图片" height="100"></td>
        <td>
            <input class="btn btn-default" type="button" value="删除" ng-click="del(item.sid)">
        </td>
    </tr>

    </tbody>

</table>
    <div style="text-align:center">
        <a class="btn btn-default" href="#!/admin/showCon/{{lastPage}}" role="button">上一页</a>

    <a class="btn btn-default" href="#!/admin/showCon/{{nextPage}}" role="button">下一页</a>

    </div>
</div>